
body {
    background-color: rgb(5, 5, 5);
    display:flex;
    justify-content: center;
    text-align: center; 
    
}
 
/* ================================================================================ */
.game-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.heading{
    color: white;
    font-size: 30px;
}
.status-action{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 25px;
    margin-top: 25px;
    width: 600px;
}
.status:hover{
    background-color: grey;
}
.status{
    cursor: pointer;
    justify-content: flex-start;
    font-size: 15px;
}
.reset{
    cursor: pointer;
    justify-content: flex-end;
    font-size: 15px;
    
}
.reset:hover{
    background-color: grey;
}


.game-canvas{
    height: 600px;
    width: 600px;
    
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 100px 100px;
    background-color: rgb(0, 0, 0);
  
    
}

.game-cell{
    background: white;
    cursor: pointer;
    height: 100px;
    width: 100%;
}